server:
  server:
  port: 8081

spring:
  application:
    name: shoppingcart-service

  datasource:
    url: jdbc:postgresql://localhost:5432/shoppingcartdb
    username: postgres
    password: "0921"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: arkaproyect0921@gmail.com
    password: TU_APP_PASSWORD  # o desactiva mail.enabled abajo
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

# Desactiva el adaptador de correo si no quieres usar SMTP
mail:
  enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:short_secret_key_32_chars_len!!!}

